body{
	display: flex;
	justify-content: center;
	background-color: #f9c029;
}

.container{
	position: absolute;
	background: #f9c029;
	width: 400px;
	height: 100px;
}

.face{
	position: absolute;
	left: 13px;
	right: -12px;
}

.head{
	position: absolute;
	display: block;
	margin: 0 auto;
	width: 310px;
	height: 358px;
	border: 3px solid #111;
	transform: rotate(-20deg);
	border-radius: 500px;
}

.eyes:before, .eyes:after{
	content: "";
	position: absolute;
	z-index: 2;
	width: 90px;
	height: 90px;
	background: black;
	border: 1px solid #111;
	border-radius: 50%;
}

.eyes:before{
	top: 80px;
	left: 60px;
}

.eyes:after{
	top: 90px;
	left: 220px;
}

.pupils:before, .pupils:after{
	content: " ";
	position: absolute;
	z-index: 3;
	width: 75px;
	height: 75px;
	background: white;
	border-left: 1px solid #111;
	border-radius: 50%;
}

.pupils:before{
	top: 82px;
	left: 70px;
}

.pupils:after{
	top: 92px;
	left: 230px;
}

.snout{
	width: 200px;
	height: 200px;
	z-index 4;
	background-color: #f9c029;
	border: 3px solid #010101;
	position: absolute;
	top: 143px;
	left: 80px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
}

.snout2{
	width: 74px;
	height: 65px;
	z-index: 5;
	background-color: #f9c029;
	border: 3px solid #010101;
	position: absolute;
	top: 190px;
	left: 190px;
	border-right-color: transparent;
	border-radius: 50%;
	transform: rotate(-87deg);
	border-top-left-radius: 100% 100%;
	border-top-right-radius: 30% 40%;
	border-bottom-left-radius: 100% 100%;
	border-bottom-right-radius: 12% 100%;
}

.snout3{
	width: 80px;
	height: 65px;
	z-index: 5;
	background-color: #f9c029;
	border: 3px solid #010101;
	position: absolute;
	top: 190px;
	left: 86px;
	border-right-color: transparent;
	border-radius: 50%;
	transform: rotate(-87deg);
	border-top-left-radius: 100% 100%;
	border-top-right-radius: 100% 40%;
	border-bottom-left-radius: 100% 100%;
	border-bottom-right-radius: 12% 100%;
}

.nose{
	position: absolute;
	z-index: 5;
	width: 60px;
	height: 35px;
	background: black;
	border-radius: 50%;
	left: 155px;
	top: 170px;
}

.mouth{
	width: 80px;
	height: 65px;
	z-index: 4;
	background-color: #f9c029;
	border: 3px solid #010101;
	position: absolute;
	left: 137px;
	top: 150px;
	border-radius: 50%;
}

